<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>King Client</title>
</head>
<body>
  <div><h1>Bienvenue sur King Client !</h1></div>
  <div><h2></h2></div>

  <form>
      <div>
        <label for="example">Veuillez saisir un texte</label>
        <input id="example" type="text" name="text">
      </div>
      <div>
        <input type="submit" value="Envoyer">
      </div>
    </form>
</body>
</html>